#snippet '
#	'${1}'
#snippet "
#	"${1}"
#snippet `
#	\`${1}\`
#snippet ((
#	(${1})
#snippet [[
#	[${1}]
#snippet <<
#	<${1}>
#snippet {{
#	{${1}}
snippet fdate
	`strftime('%a, %F %T %Z')`
snippet time
	`strftime('%T %Z')`
