[submodule "zprezto"]
	path = tag-zsh/zprezto
	url = https://github.com/cantoraz/prezto.git
[submodule "yadr"]
	path = yadr
	url = https://github.com/skwp/dotfiles
[submodule "tpm"]
	path = tag-tmux/config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
