/*
 * Confirm Dialog
 *
 * Author  : Cantoraz Chou <cantoraz@gmail.com>
 */

@import "config"
@theme "tomorrow-hybrid-mod"

mode-switcher {
  enabled: false;
}

inputbar {
  padding:          0;
  border:           0;
  children:         [ prompt, entry ];
}

listview {
  enabled:          false;
  // fixed-height:     false;
}
