/*
 * Error Dialog
 *
 * Author  : Cantoraz Chou <cantoraz@gmail.com>
 */

@import "config"
@theme "tomorrow-hybrid-mod"

window {
  border-color:     @red;
}

textbox {
  horizontal-align: 0.5;
  text-color:       @red;
}